<a href="https://colab.research.google.com/github/bflaggs/DSPS_BFlaggs/blob/main/lab/DSPS_Ztestpandas_BFlaggs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

I extracted precipitations records for Willmington from 2000/01/01 through today. 
The goal is to extract from these data the daily precipitation starting on 2018/01/01 and assess if these data are different from a population with mean $\mu = 0.14$ standard deviation $\sigma= 0.38$. 

Set a p-value at $2\sigma$:  $p=0.05$

In [2]:
rain = pd.read_csv("https://raw.githubusercontent.com/fedhere/DSPS/master/labs/1865331.csv")


The $Z$ statistics is : $Z = \frac{\bar{X} - \mu }{s}$ and $s = \sigma / \sqrt(N)$ (you should know what all those symbols mean)

1. Extract from the dataframe above the columns "DATE" and "PRCP" (precipitation)

2. Convert the dataframe DATE from ```string``` to ```datetime``` type
 using pd.datetime() 
    
3. Select the data rows with date later than 2018/01/01. 
    If your data type conversion worked well you should be able to set the condition as ```rain[<newcolumnname>]> pd.to_datetime("2018/01/01")```
    use the technique called "broadcasting" to select the rows: 
    
    ```rain[ rain[<newcolumnname>]> pd.to_datetime("2018/01/01")]``` which you can save as a new dataframe
    
4. Calculate the mean of the sample you created $\bar{X}$ and plug it in  the numerator of the $Z$ statistics: $\bar{X}- \mu$

5. Calculate the size of the sample and plug it in the formula. Now you have $Z$

6. Knowing the distribution of $Z\sim N(\mu=0, \sigma=1)$ and with a confidence $p=0.05$, did you find that the time period 2018/01/01---today has a statistically significant different amount of rain?

In [3]:
rain

          STATION                    NAME        DATE  ...  SNWD  WESD  WESF
0     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-01  ...   0.0   NaN   NaN
1     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-02  ...   NaN   NaN   NaN
2     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-03  ...   NaN   NaN   NaN
3     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-04  ...   NaN   NaN   NaN
4     US1DENC0010  NEWPORT 2.4 WNW, DE US  2010-01-05  ...   NaN   NaN   NaN
...           ...                     ...         ...  ...   ...   ...   ...
3533  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-04  ...   NaN   NaN   NaN
3534  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-05  ...   NaN   NaN   NaN
3535  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-06  ...   NaN   NaN   NaN
3536  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-07  ...   NaN   NaN   NaN
3537  US1DENC0010  NEWPORT 2.4 WNW, DE US  2019-09-08  ...   NaN   NaN   NaN

[3538 rows x 8 columns]

In [4]:
rainData = rain[["DATE", "PRCP"]]

In [5]:
rainData

            DATE  PRCP
0     2010-01-01  0.28
1     2010-01-02  0.00
2     2010-01-03  0.00
3     2010-01-04  0.00
4     2010-01-05  0.00
...          ...   ...
3533  2019-09-04  0.00
3534  2019-09-05  0.00
3535  2019-09-06  0.00
3536  2019-09-07  0.02
3537  2019-09-08  0.00

[3538 rows x 2 columns]

In [6]:
pd.to_datetime(rainData["DATE"])

0      2010-01-01
1      2010-01-02
2      2010-01-03
3      2010-01-04
4      2010-01-05
          ...
3533   2019-09-04
3534   2019-09-05
3535   2019-09-06
3536   2019-09-07
3537   2019-09-08
Name: DATE, Length: 3538, dtype: datetime64[ns]

In [7]:
rainData["DATE"] = pd.to_datetime(rainData["DATE"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
rainData.head()

        DATE  PRCP
0 2010-01-01  0.28
1 2010-01-02  0.00
2 2010-01-03  0.00
3 2010-01-04  0.00
4 2010-01-05  0.00

In [10]:
rainData["DATE"] > pd.to_datetime("2018/01/01")

0       False
1       False
2       False
3       False
4       False
        ...
3533     True
3534     True
3535     True
3536     True
3537     True
Name: DATE, Length: 3538, dtype: bool

In [18]:
rainDataGood = rainData[rainData["DATE"] > pd.to_datetime("2018/01/01")]

In [19]:
meanData = np.mean(rainDataGood["PRCP"])

In [25]:
mu = 0.14
Znumerator = meanData - mu

In [26]:
sampSize = len(rainDataGood)

In [27]:
sigma = 0.38
sVal = sigma / np.sqrt(sampSize)

In [29]:
Z = Znumerator / sVal
print(f"Z value for data is: {Z:.4f}")

Z value for data is: 1.4686

In [34]:
print(rf"Hence, the hypothesis should be accepted b/c Z = {Z:.2f} $\sigma$, which is less than our p-value threshold.")

Hence, the hypothesis should be accepted b/c Z = 1.47 $\sigma$, which is less than our p-value threshold.